@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
    min-width: 320px;
    overscroll-behavior: none;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }

  button,
  [role='button'] {
    touch-action: manipulation;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}